/* Основные стили для всего приложения */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e9e9e9;
}

.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.app-content {
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    padding-top: 60px;
    flex-grow: 1;
}

.sidebar-open .app-content {
    margin-left: 250px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
