/*Наводим суету стилями*/
:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
}

.header {
  display: block;
  background-color: #903030;
  color: white;
  padding: 5px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 10% 20px;
  justify-content: center;
}

li {
  background-color: #242424;
  border: 1px solid #505050;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px;
  min-height: 270px;
  min-width: 200px;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

li:hover {
  transform: translateY(-2px);
}

.footer {
  display: block;
  background-color: #903030;
  color: white;
  padding: 5px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
